In [1]:
extra_marks=50

In [8]:
def total_marks():
    some_marks=50
    print("printing inside the fucntion and the total is ",50+some_marks)
    print("Using global variable also this time so total is ",50+some_marks+extra_marks)

In [9]:
total_marks()

printing inside the fucntion and the total is  100
Using global variable also this time so total is  150

In [21]:
global var12
def local_global():
    var12="This is fantastic"
    print(var12)

In [22]:
local_global()

This is fantastic

In [23]:
var12

'This is fantastic'

In [24]:
name=input("Enter Your Name Baby \n")
print("User Enter",name)

Enter Your Name Baby
Yuva
User Enter Yuva

In [26]:
maths=int(input("Enter Your Marks "))
science=int(input("Enter Your Marks "))
total_marks=maths + science
print(total_marks," Out of 200")

Enter Your Marks 76
Enter Your Marks 67
143  Out of 200

In [27]:
name=input("Enter Your name ")
if name.isalpha():
    print("You Entered ",name)
else:
    print("Look like You Did not enter alpha charater")

Enter Your name Yuva67
Look like You Did not enter alpha charater

In [28]:
def phone_price(phone_make,phone_age,phone_model_gb):
    if phone_make=="iphone13":
        if 0<phone_age<=6:
            if phone_model_gb==128:
                print("Rs 65000 - Rs 75000")
            elif phone_model_gb==256:
                print("Rs 80000")
        if 6<phone_age<=12:
            if phone_model_gb==128:
                print("Rs 60000 - Rs 65000")
            elif phone_model_gb==256:
                print("Rs70000")
    elif phone_make=="iphone11":
        if 0<phone_age<=6:
            if phone_model_gb==64:
                print("Rs 44000 - Rs 48000")
            elif phone_model_gb==128:
                print("RS 50000 - Rs 550000")
        if 6<phone_age<=12:
            if phone_model_gb==64:
                print("Rs 39000 - Rs 42000")
            elif phone_model_gb:
                print("Rs 45000 - 48000")
    else:
        print("No Stock Right Now, Please check after few days")

In [29]:
phone=input(" Enter Your Required Phone  ")
months_old=int(input(" Enter how old phone you need  "))
capacity=int(input(" Enter how much space do you want in you phone  "))
phone_price(phone,months_old,capacity)

 Enter Your Required Phone  Samsung
 Enter how old phone you need  1
 Enter how much space do you want in you phone  128
No Stock Right Now, Please check after few days

In [32]:
marks_1=int(input('Enter marks 1 '))
subject="datascience"
marks_2=int(input('Enter maeks 2 '))
try:
    total= marks_1 + subject
except:
    print("You are only add integer + integer ,not with integer + string")
else:
    (total)

Enter marks 1 67
Enter maeks 2 17
You are only add integer + integer ,not with integer + string

In [33]:
try:
    total=marks_1 + marks_2
except:
    print("plese dont add integer with string")
else:
    print("Your Total marks is \n\t\t",total)

Your Total marks is
		 84

In [38]:
try:
    car_number=input("Enter Your Car number ")
    name=input("Enter Your Name Baby ")
    mobile_number=input("Enter Your Number Baby ")
    if car_number ==" ":
        raise Exception()
    elif name ==" ":
        raise Exception()
    elif mobile_number ==" ":
        raise Exception()
    else:
        pass
except:
    if car_number ==" ":
        print("\n The Registration Field Required")
    if name ==" ":
        print("\n The Name Field is required")
    if mobile_number ==" ":
        print("\n The Mobile Number Field is required")

else:
    print("Thanks for registration")

Enter Your Car number 56
Enter Your Name Baby
Enter Your Number Baby

 The Name Field is required

 The Mobile Number Field is required

In [39]:
try:
    car_number=input("Enter Your Car number ")
    name=input("Enter Your Name Baby ")
    mobile_number=input("Enter Your Number Baby ")
    if car_number ==" ":
        raise Exception()
    elif name ==" ":
        raise Exception()
    elif mobile_number ==" ":
        raise Exception()
    else:
        pass
except:
    if car_number ==" ":
        print("\n The Registration Field Required")
    if name ==" ":
        print("\n The Name Field is required")
    if mobile_number ==" ":
        print("\n The Mobile Number Field is required")

finally:
    print("Thanks for registration")

Enter Your Car number 67148
Enter Your Name Baby yuva
Enter Your Number Baby 546897132
Thanks for registration

In [40]:
def mobile_num():
    try:
        val=int(input("Enter Your Number "))
    except:
        print("Look Like You did not enter an integer")
    print(val)

In [42]:
mobile_num()

Enter Your Number 85421369
85421369

In [43]:
def mobile_numer():
    while True:
        try:
            val=int(input("Enter Your Mobile Number"))
            if len(str(val))!=10:
                print("You did not enter a Right Mobile Number")
            else:
                print("Thankyou")
                break
        except:
            print("Look Like You Did Not Enter An Integer")
            continue

In [45]:
mobile_numer()

Enter Your Mobile Number67174658923567
You did not enter a Right Mobile Number
Enter Your Mobile Number65894568
You did not enter a Right Mobile Number
Enter Your Mobile Number4565987865
Thankyou