In [1]:
print(range(10))

range(0, 10)

In [2]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
print(list(range(10,101,2)))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [4]:
roll_num=list(range(10,50,1))
roll_num

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [5]:
reverse=list(range(1600,99,-100))
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200,
 100]

In [6]:
location=["Korba","Bilaspur","Raipur","Patna","Siwan"]
location

['Korba', 'Bilaspur', 'Raipur', 'Patna', 'Siwan']

In [7]:
for city in location:
    print(city)

Korba
Bilaspur
Raipur
Patna
Siwan

In [8]:
salary=[1000,2000,3000,5000,7000,1000,2000,9000]
for money in salary:
    print(money)

1000
2000
3000
5000
7000
1000
2000
9000

In [9]:
student_score=[78,98,65,45,89,87,32,65,54,98,89,78,69,58,47]

In [10]:
for marks in student_score:
    if marks>90:
        if marks>85:
            print(marks , "Distiction")
        else :
            print(marks , "First class")
    elif marks >60 and marks<85 :
        print(marks ,"First class")
    elif marks>45:
        print(marks ,"Second class")
    elif marks >35:
        print(marks ,"Jsut Pass")
    else:
        print(marks ,"You are fail, please try next time")

78 First class
98 Distiction
65 First class
45 Jsut Pass
89 Second class
87 Second class
32 You are fail, please try next time
65 First class
54 Second class
98 Distiction
89 Second class
78 First class
69 First class
58 Second class
47 Second class

In [12]:
salary=[1000,2000,3000,5000,7000,1000,2000,9000]
sal=[val for val in salary if val==2000]
sal

[2000, 2000]

In [13]:
for num in range(2,5):
    print("Multiplication table for",num)
    for i in range(1,11):
        print(num*i)
        if i ==10:
            print( "\n" )
else:
    print("*" * 30)
    print("Thats all")
    print("*" * 30)

Multiplication table for 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for 4
4
8
12
16
20
24
28
32
36
40


******************************
Thats all
******************************

In [20]:
num=int(input("Enter Number which one you want a table: "))

for i in range(1,11):
    print(str(num), 'X' ,str(i),"=",str(num*i))

Enter Number which one you want a table: 17
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
17 X 10 = 170

In [21]:
num=int(input("Enter Number which one you want a table"))

for i in range(1,11):
    print(f"{num}X{i}={num*i}")

Enter Number which one you want a table7
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
7X10=70

In [22]:
i=0
while i<=5:
    print(i)
    i=i+1

0
1
2
3
4
5

In [33]:
import time
result =time.localtime()
result

time.struct_time(tm_year=2024, tm_mon=7, tm_mday=16, tm_hour=6, tm_min=43, tm_sec=24, tm_wday=1, tm_yday=198, tm_isdst=0)

In [34]:
while True:
    result=time.localtime()
    if result.tm_hour==6 and result.tm_min==45:
        print("Wake up buddy")
        break

Wake up buddy

In [35]:
student=["Saurav","Gaurav","Ramesh","Suresh","Mukesh"]
for i in enumerate(student):
    print(i)

(0, 'Saurav')
(1, 'Gaurav')
(2, 'Ramesh')
(3, 'Suresh')
(4, 'Mukesh')

In [36]:
student=["Saurav","Gaurav","Ramesh","Suresh","Mukesh"]
for i,name in enumerate(student,1):
    print(i,name)

1 Saurav
2 Gaurav
3 Ramesh
4 Suresh
5 Mukesh

In [37]:
student_name=["Ramesh","Riya","Yashu","Rohit","Amisha"]
student_marks=[54,98,99,100,34]
student_details=list(zip(student_name,student_marks))
student_details

[('Ramesh', 54), ('Riya', 98), ('Yashu', 99), ('Rohit', 100), ('Amisha', 34)]

In [38]:
name,marks=list(zip(*student_details))
name

('Ramesh', 'Riya', 'Yashu', 'Rohit', 'Amisha')

In [39]:
marks

(54, 98, 99, 100, 34)

In [40]:
student_name=["Ramesh","Riya","Yashu","Rohit","Amisha"]
student_marks=[54,98,99,100,34]
for i,(name,marks) in enumerate(zip(student_name,student_marks),1):
    print(i,name,marks)

1 Ramesh 54
2 Riya 98
3 Yashu 99
4 Rohit 100
5 Amisha 34

In [41]:
salary=[8000,5000,6000,7000,3000]
for val in salary:
    if val==7000:
        break
    print(val)

8000
5000
6000

In [43]:
for val in "Stringexample":
    if val == "i":
        continue
    else:
        if val=="x":
            break
        print(val)

S
t
r
n
g
e